body {
  margin: 0;
  padding: 0;
}

#crossword {
  display: flex;
  flex-wrap: wrap;
}

#grid {
  width: min(99vw, 800px);
}

.cell {
  aspect-ratio: 1;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

#clues {
  display: flex;
  flex-direction: column;
}

.clue {
  display: flex;
  padding: 0.2em;
  gap: 0.5em;
}
