body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

#crossword {
  display: flex;
  flex-wrap: wrap;
  padding: min(0.5vw, 3px);
  gap: 1em;
  font-size: min(1vw, 6px);
}

#input {
  position: absolute;

  height: 1px;
  width: 1px;

  z-index: 0;

  caret-color: transparent;
}

#grid-container {
  width: min(99vw, 800px);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#crossword-grid {
  display: flex;
  flex-direction: column;
}

#grid {
  position: relative;
  max-height: 800px;
  border: 0.05em solid black;
  background-color: black;
  gap: 0.05em;
  font-size: 4em;
}

#current-clue,
#current-clue-duplicate {
  position: sticky;

  top: 0;
  width: fit-content;
  align-self: center;
  z-index: 2;
  background-color: white;
  text-align: center;
  font-size: 4em;
}

@media screen and (min-width: 1500px) {
  #current-clue {
    display: none;
  }
}

.cell {
  aspect-ratio: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.cell-number {
  position: absolute;
  font-size: 0.5em;
  top: 0;
  left: 0.1em;
}

.cell-selected {
  outline: 0.2em solid DodgerBlue;
  z-index: 1;
}

.cell-highlighted {
  background-color: yellow;
}

#clues {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 3em;
}

.clue-title {
  color: #696969;
}

.clue {
  display: flex;
  padding: 0.2em;
  gap: 0.5em;
  font-size: 1.5em;
}

#clue-selected {
  background-color: yellow;
}

.clue-filled {
  text-decoration: line-through;
}

.clue-number {
  width: 1em;
  text-align: right;
  color: #696969;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

@keyframes slideInFromRight {
  0% {
    background-position: left bottom;
  }
  100% {
    background-position: right bottom;
  }
}

.button {
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  justify-content: center;
  font-size: 4em;
  color: white;
  padding: 0.5em;
  width: 8em;
  height: 2.5em;
}

#info {
  text-align: center;
  gap: 1em;
  font-size: 3em;
}

/*Home*/
#crosswords {
  display: flex;
  flex-direction: row;
}
